.container{
  width: 80%;
  height: 200px;
  margin: 20px auto 50px;
}
.skill{
  margin-left: 60px;
  background-image: transparent;
  height: 100%;
  border-radius: 15px;
}
.skill:first-child{
  margin-left: 0;
}
.description{
  width: 45%;
  height: 100%;
  font-size: 25px;
  font-weight: 400;
  margin-top: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
.title{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  margin-top: 20px;
}
.mySkills{
  display: flex;
  justify-content: center;
  height: 80%;
}
.mail{
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
  margin-top: 10px;
}